body{
    font-size: 18px;
    font-family: "Poppins", arial;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    background-color: #fdfbf9;
    top:0;
    box-shadow: 0 4px 2px -2px rgb(227, 227, 227);
    z-index: 2;
    height: 90px;
    .navbar-left{
        display: flex;
        align-items: center;
        ul li{
            display: inline-block;
            margin:0 16px;
        }
        a{
            text-decoration: none;
        }
    }
    .navbar-right{
        display: flex;
        align-items: center;
        margin: 16px;
        span{
            margin: 20px;
        }
        .sign-up-free{
            background-color: #4b2aad;
            color: white;
            border-radius: 50px;
            padding: 10px 20px;
            text-align: center;
        }
    }
}
ul li, .login, .sign-up-free:hover{
    cursor: pointer;
}

.container{
    
    display: flex;
    justify-content: space-around;
    padding: 3% 10%;
    .container-left{
        padding-right: 7%;
        .sign-up-button-container{
            background-color: #4b2aad;
            padding: 15px 20px;
            color: white;
            border-radius: 50px;
            width: 40%;
            border: none;
        }
    }
    
    .container-right{
        display: flex;
        
    }
}
.container-hero{
    text-align: center;
    padding: 5% 20%;
}
.container-hero-introduce{
    display: flex;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    padding: 0 10%;
    .container-hero-introduce-1, .container-hero-introduce-2, .container-hero-introduce-3{
        padding: 0 5% 0 5%;
    }
}
.container-hero-question{
    text-align: center;
    padding: 10%
}

.learn-more{
    display: flex;
    padding: 0 10%;
    .learn-more-left{
        padding-right: 4%;
    }
}
.get-your-free-podia-account{
    text-align: center;
    padding:0 10%;
    .get-your-free-podia-account-hero{
        background-color: #201445;
        color: #fdfbf9;
        padding: 3% 10%;
        border-radius: 10px;
    }
    button{
        background-color: #9484c6;
        padding: 10px;
        color: #fdfbf9;
        border: none;
        border-radius: 30px;
        padding: 1.5% 3%;
        font-size: 15px;
    }
}
#button:hover{
    cursor: pointer;
}
@media (max-width:800px){
    body{
        text-align: center;
    }
    .container, .container-hero-introduce, .learn-more{
        display: block;
    }
    
    .navbar{
        font-size:10px;
        height:5vh;
        overflow: auto;
    }
    .sign-up-free{
        font-size: 5px;
    }
    #image{
        width:300px;
        height: 221px;
    }
    #container-content{
        font-size: 25px;
    }
}

.js-scroll {
    opacity: 0;
    transition: opacity 800ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
   .question-symbol{
    display: flex;
    justify-content: flex-end;
    .question-symbol-content{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #4b2aad;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        font-size: 30px;
        
      }
      
  }
