body{
    font-family:var(--framer-font-family, Inter, sans-serif);
    
    
}

.navbar{
    display: flex;
    justify-content: center;
    
    position: sticky;
    left:40%;
    right: 40%;
    top: 20px;
    z-index:1000;
    .info{
        display:flex;
        background-color: rgba(232, 229, 228, 0.5);
        backdrop-filter: blur(16px);
        border-radius: 100px;
        height:55px;
        width:300px;
        justify-content:space-around;
        align-items:center;
        
        p{
            padding:0px 10px;
            cursor:pointer;
        }
    }

}
.shop:hover{
  transform: translateY(-10%);
}
.active{
  align-content:center;
  background-color: white;
  height: 40px;
  width:70px;
  border-radius: 40px;
  text-align: center;
  
}
.container{
    text-align: center;
    height:50vh;
    padding: 8% 25%;
    height: 60vh;
    padding-bottom: 200px;
    
}
.container-hero{
    font-size: 30px;
    
}
.container-category{
  cursor: pointer;
    span{
        margin: 10px;
    }
}
.container-img{
    img{
        border-radius:15px;
    }
    .container-img-box{
        display: flex;
        flex-wrap: wrap;
        padding:0 7%;
    }
}
.box1{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    gap:30px;
    
}
.box2{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    gap:30px;
}
.box3{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    gap:30px;
    
}
.box4{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    gap:30px;
}
.lets-work-together{
    padding-top: 5% ;
    text-align: center;

    min-height: 300px;
}
.contact{
    display: flex;
    justify-content: space-around;
    
    .social{
        display: flex;
      cursor: pointer;
       
    }
}

img:hover{
    cursor: pointer;
    filter: brightness(70%);
}

@media (max-width: 800px){
  .box1, .box2, .box3, .box4{
    flex-direction: column;
    align-items: center;
  }
  .container-hero{
    font-size: 20px;
  }
  .container-category{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
  }
  .container{
    padding: 8% 10%;
  }
  .contact{
    flex-direction: column-reverse;
  }
}
.full-img{
  
  width:100vw;
  height:100vh;
  backdrop-filter: brightness(30%);
  position: fixed;
  top:0;
  left:0;
  z-index:2000;
  display:none;
  img{
    scale: 0.5;
    position: fixed;
    left:25%;
    
  }
}
