body{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}


.layout{
    width: 45vw;
    background-color: rgb(244, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 10px solid wheat;
    
    
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    z-index: 120;
    width: 46vw;
    height:80px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0px;
    box-shadow: 0px 10px;
    
    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
      
    }
    li {
        list-style: none;
        font-size: 20px;
        
    }
    li:hover{
        scale: 1.2;
    }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-text-start{
        width: 45vw;
        position: absolute;
        left: 43%;
        top:14vh;
        font-family: "Mrs Saint Delafield", cursive;
       
        font-style: normal;
        z-index: 2;
        font-size: 60px;
        color: white
        
    }
    .container-text-start h1:hover{
        color: black
        
    }
    .img-library{
        display: flex;
        flex-wrap: wrap;
        img{
            width: 50%;
        }
    }
    .fb, .ig, .thr, .tw, .rd, .zl{
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(235, 201, 138);
        width: 260px;
        height:70px;
        justify-content: space-around;
        align-items: center;
        border-radius: 35px;
        border: none;
        margin-top: 90px;
        font-size: 20px;
    }
    .contact{
        
        button:hover{
            scale: 1.1;
            cursor: pointer;
        }
    }
    .credit{
        margin-top: 20vh;
        padding-top: 10vh;
        width: 45vw;
        height: 91vh;
        background-color: wheat;
        font-size: 17px;
    }
}
.full-img {
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(30%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.running-line{
    background-color: blanchedalmond;
    width: 46vw;
    position: sticky;
    z-index: 100;
    bottom: 0;
    overflow: hidden;
    p{
        animation: runningh 15s infinite;
        position: relative;
        
    }
    
}
@keyframes runningh {
    0%{left: 47vw;} 
    100%{left: -20vw;}
}
@media (max-width:700px) {
    .layout{
        width: 100vw;
        background-color: red;
    }
}
