body{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}


.layout{
    width: 45vw;
    background-color: rgb(244, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 10px solid wheat;
    
    
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    z-index: 120;
    width: 46vw;
    height:80px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0px;
    box-shadow: 0px 10px;
    transition: top 0.4s;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
      
    }
    li {
        list-style: none;
        font-size: 20px;
        
    }
    li:hover{
        scale: 1.2;
    }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-text-start h1:hover{
        color: black
        
    }
.container-text-start{
    width: 45vw;
    position: absolute;
    left: 38%;
    top:14vh;
    font-family: "Mrs Saint Delafield", cursive;
    
    z-index: 2;
    font-size: 60px;
    color: white
    
}
    .img-library{
        display: flex;
        flex-wrap: wrap;
        img{
            width: 50%;
        }
    }
}
.contact{
    padding: 50px;
    button:hover{
        scale: 1.1;
        cursor: pointer;
    }
}
.fbk, .ig, .thr, .tw, .rd, .zl{
    display: flex;
    
    flex-direction: column;
    background-color: rgb(235, 201, 138);
    width: 280px;
    height:80px;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: none;
    margin-top: 90px;
    font-size: 20px;
}
.credit{
    margin-top: 20vh;
    
    padding: 10vh 50px 50px 100px;
    width: 45vw;
    height: 700px;
    background-color: wheat;
    font-size: 17px;
}
.about{
    width: 45vw;
    padding: 50px;
    img{
        padding-left: 20px;
    }
    
}
.contact-sm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.full-img {
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(30%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.talk1, talk2{
    padding: 80px 0px 0px 0px;
}
.running-line{
    background-color: blanchedalmond;
    width: 46vw;
    position: sticky;
    z-index: 100;
    bottom: 0;
    overflow: hidden;
    p{
        animation: runningh 15s infinite;
        position: relative;
        
    }
    
}
@keyframes runningh {
    0%{left: 47vw;} 
    100%{left: -20vw;}
}
@media (max-width:700px) {
    .layout, .navbar, .running-line, .about, .credit{
        width: 100vw;
        
    }
    p, h1{
        font-size: 17px;
    }
    .talk1, .talk2{
        padding: 80px 80px 0 80px;
    }
    .contact-sm{
        justify-content: center;
    }
    .about{
        flex-direction: column;
        text-align: center;
    }
    .container .fbk, .ig, .thr, .tw, .rd, .zl{
        width: 300px;
    }
    .contact-sm{
        flex-direction: column;
    }
    }
